PL/Connected Services/LibroServiceReference/LibroService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLibro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Libro" nillable="true" type="tns:Libro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLibro" nillable="true" type="tns:ArrayOfLibro" />
  <xs:complexType name="Libro">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutorNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaPublicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAutor" type="xs:int" />
      <xs:element minOccurs="0" name="IdLibro" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPaginas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Libro" nillable="true" type="tns:Libro" />
</xs:schema>